:root {
    --maroon: 91091E;
    --orange: DA723C;
    --gold: C39E5C;
    --beige: FDF1D6;
    --black: #00000;
}

.page{
    height: 100vh;
    width: 100vw;
}

/* home section */
nav {
    width: 100vw;
    height: 100px;
    background-color: black;
    color: beige;
    display:flex;
    justify-content: space-between;
}

#nav-menu{
    float: right;
    color: white;
    margin: auto;
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

.link {
    color: white; 
}


.link:hover { 
    color: lightblue; 
}

#logo {
    align-self: center;
    margin-left: 45px;
}


#menu {
    position: fixed;
    right: 45px;
    align-self: center;
    background-color: white;
    opacity: 20%;
    height: 75px;
    width: 75px;
    text-align: center;
}


#menu-text{
    color: white;
}


#homepage {
    background-color: black;
    color: white;
}


#greeting{
    margin-left: 75px;
    margin-top: 200px;
}


#greeting p {
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    line-height: 2em;
    font-size: xx-large;
    flex-direction: column;
}


#scroll-down {
    position: absolute;
    bottom: 75px;
    right: 50%;
}


/* about section */
#about{
    background-color: black;
}


.styled-words {
    font-size:13em;
    color: white;
    opacity: 8%;
    font-family: 'Abril Fatface', cursive;
}


#i-am {
    float: right;
    margin-right: 300px;
    margin-top: 50px;
}

#i-am-overlay {
    color: white;
    font-family: 'Comforter Brush', cursive;
    font-size: 7em;
    position: absolute;
    right: 475px;
    margin-top: 100px;
}



/* #i-am-img {
    position: absolute;
    width: 1500px;
    top: 270px;
    left: 240px;
} */


#about-text-text{
    position: relative;
    left: 650px;
    top: 325px;
    font-size: 1.3em;
    color: white;
    width: 40vw;
    line-height: 1.8em;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
}


#tape{
    height: 175px;
    position: absolute;
    left: 225px;
    top: 775px;
}


#img-portrait{
    position: absolute;
    width: 50vh;
    left: 100px;
    top: 900px;
    background-color: grey;
    border: solid;
    border-color: white;
    border-width: 10px;
}

/* 
#img-background{
    position: absolute;
    height: 30vh;
    width: 50vh;
    background-color: blue;
    border-color: white;
    border-width: 10px;
}

#img-background2{
    position: absolute;
    height: 30vh;
    width: 50vh;
    left: 30px;
    top: 50px;
    background-color: red;
    border-color: white;
    border-width: 10px;
} */


/* work section */
#work{
    background-color: black;
}


#work-portfolio{
    display:flex;
    flex-wrap: wrap;
}


#work-header{
text-align: center;
}


#work-top-header-img{
    width: 1000px;
    position: absolute;
    top: 1200px;
    left: 180px;
}


#work-subheading{
    color:white;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    margin-top: 40px;    
}


.work-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}


.work-card{
    height: 25vh;
    width: 30vw;
    background-color: grey;
    margin-bottom: 30px;
    border: solid;
    border-color: beige;
    border-width: 5px;
}


.work-card :hover {
    background-color: black;

}


/* contact section */
#contact {
    background-color: black;
}


#contact-img {
    width: 1500px;
    position: absolute;
    top: 1650px;
    right: 10px;   
}

/* contact form */
#contact-form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 30px;
}


.input-box{
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
}


#input-message {
    width: 500px;
    height: 200px;
    margin-top: 25px;
}


#send-btn{
    width: 75px;
    height: 50px;
    margin-top: 25px;
    margin-left: 425px;
}


#contact-socials{
    color: white;
    position: relative;
    left: 600px;
    bottom:300px;
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    font-size: 2em;
    line-height: 50px;
}

a,  a:active, a:visited { 
    color: white; 
}

a:hover{
    color:lightpink
}