:root {
    --maroon: 91091E;
    --orange: DA723C;
    --gold: C39E5C;
    --beige: FDF1D6;
    --black: #00000;
}

.page{
    height: 100vh;
    width: 100vw;
}
/* home section */
nav {
    width: 100vw;
    height: 100px;
    background-color: black;
    color: beige;
    display:flex;
    justify-content: space-between;
}
/* 
.topNav {
    background-color: #333;
    overflow: hidden;
}

.topNav a{
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNav a:hover{
    background-color: #ddd;
    color: black;
}

.topNav a.active{
    background-color: #04AA6D;
    color: white;
}

.topNav .icon{
    display: none;
} */


#logo {
    align-self: center;
    margin-left: 45px;
}


#menu {
    position: fixed;
    right: 45px;
    align-self: center;
    background-color: white;
    opacity: 20%;
    height: 75px;
    width: 75px;
    text-align: center;
}
#menu-text{
    color: white;
}

#homepage {
    background-color: black;
    color: white;
}


#greeting{
    margin-left: 75px;
    margin-top: 200px;
    font-size: xx-large;
}


#scroll-down {
    position: absolute;
    bottom: 75px;
    right: 50%;

}


/* about section */
#about{
    background-color: black;
}

#i-am {
    font-size:13em;
    color: white;
    opacity: 15%;
    font-family: 'Abril Fatface', cursive;
    float: right;
    margin-right: 60px;
    margin-top: 50px;

}

#about-text-text{
    position: relative;
    left: 580px;
    top: 325px;
    font-size: 1.3em;
    color: white;
    width: 40vw;
    line-height: 1.8em;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    
}

#tape{
    height: 175px;
    position: absolute;
    left: 155px;
    top: 20px;
}

#about-images{
    position: absolute;
}

#img-portrait{
    position: absolute;
    height: 60vh;
    width: 50vh;
    left: 75px;
    top: 150px;
    background-color: grey;
    border: solid;
    border-color: white;
    border-width: 10px;
}
/* 
#img-background{
    position: absolute;
    height: 30vh;
    width: 50vh;
    background-color: blue;
    border-color: white;
    border-width: 10px;
}

#img-background2{
    position: absolute;
    height: 30vh;
    width: 50vh;
    left: 30px;
    top: 50px;
    background-color: red;
    border-color: white;
    border-width: 10px;
} */




/* work section */

#work{
    background-color: black;
}


#work-portfolio{
    display:flex;
    flex-wrap: wrap;
}

#work-header{
font-size: 13em;
color: white;
opacity: 8%;
font-family: 'Abril Fatface', cursive;
text-align: center;
}

#work-top-header-img{
    width: 1000px;
    position: absolute;
    top: 1200px;
    left: 180px;

}

#work-subheading{
    color:white;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    margin-top: 40px;
    
}

.work-cards{
    height: 200px;
    width: 200px;
    background-color: black;
}

/* contact section */
#contact {
    background-color: maroon;
}
